.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  color: #66D0E7;
  font-family: "Faculty Glyphic", sans-serif;
  text-shadow:  0 0 20px #AFE1E3;
}
.container {
  font-family: "Faculty Glyphic", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: #66D0E7;
  column-gap: 50px;
  padding: 10px;
  row-gap: 10px;
  box-sizing: border-box;
}
.container > div {
  width: 250px;
}
input{
  font-family: "Faculty Glyphic", sans-serif;
  border: solid 2px #FFC7B2;
  border-radius: 5px;
  background: #afe1e3a4;
}
.plane {
  position: fixed;
  width: 80px;
  animation-name: shoot;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  z-index: -1;
}
.plane img{
  width: 150%;
  position: relative;
  z-index: -1;
}
.plane::before{
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 140px;
  height: 15px;
  transform: translateY(-50%);
  background: linear-gradient(to left, #89979e, transparent);
  filter: blur(6px);
}

@keyframes shoot{
  from{
      transform: translate(0,0);
      opacity: 0.7;
  }
  to{
      transform: translate(110vw,20vh);
      opacity: 0;
  }
}
button{
  font-family: "Faculty Glyphic", sans-serif;
  background-color: #AFE1E3;
  border: #66D0E7 3px solid;
  color: #FDEAB7;
  height: auto;
  width: auto;
}